---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
---


<MainLayout title="Titel">

	<!-- Hero section -->

<section class="">
	<img src="" alt="">
	<h1></h1>
	<p></p>
	<button></button>
	<button></button>
	<p></p>
</section>

<!-- stamdata + facts section-->

<section class="" >
	<h2></h2>
	<p></p>
</section>

<!-- fotos af bogen section  -->

<section class="" >
	<img src="" alt="">
	<img src="" alt="">
	<img src="" alt="">
</section>

<!-- text section -->

<section class="" >
	<h2></h2>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
	<div>
		<h3></h3>
		<p></p>
	</div>
</section>

<!-- anmeldelser section -->

<section class="" >
	<h2></h2>
<div>
	<!-- stjerne -->
	<p></p>
</div>
<div>
	<!-- stjerne -->
	<p></p>
</div>
<div>
	<!-- stjerne -->
	<p></p>
</div>
</section>

<!-- galleri secion -->
<!-- <section class="" >
	<h2></h2>
	<section id="inspiration" class="my-32">
			<h2 class="text-4xl font-bold">Inspiration fra tidligere kurser</h2>
			<div class="columns-2 lg:columns-4">
			{
				images.map(({ src }) => (
				<div class="galleri">
					<img
						src={src}
						class="mb-4"
						alt=""
						loading="lazy"
					/>
				</div>
				))
			}
			</div>
		</section>
</section> -->

</MainLayout>


