---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
---

<MainLayout title="Titel">

	<!-- Hero section -->
<section class=" grid grid-cols-2">
	<div>
		<img src="/src/assets/images/hero1.webp" alt="hero">
	</div>
	<div>
		<h1 class="text-4xl font-bold" >Københavnerbilleder - en guide til hipster foto</h1>
		<h2 class="text-1xl font-light" >af Sten Simons</h2>
	<div class="p-4">
		<label for="email">E-mail:</label>
		<input type="email" id="e-mail" name="email" placeholder="Lars@larsen.com">
			<p>*Jeg accepterer at modtage prøvekapitlet og modtage markedsføring om bogen ved at downloade prøvekapitlet. [skrives med småt]</p>
	</div>
	<div class="flex justify-end">
		<Button variant="primary" size="medium">Hent prøvekapitel</Button>
	</div>
</section>

<!-- stamdata + facts section-->

<section id="kurset" class="mt-32 grid lg:grid-cols-2 prose mx-auto gap-4">
			<article  >
				<h2 class="animate__animated animate__bounceInLeft text-4xl">Kort om bogen</h2>
				<p>Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!	 </p>

			</article>
			<article >
				<h2 class="animate__animated animate__bounceInRight text-4xl">Fakta</h2>
				<ul>
					<li>Titel: Københavnerbilleder - en guide til hipster foto</li>
					<li>Forfatter: Sten Simons</li>
					<li>Antal sider: 344</li>
					<li>Forlag: Mellem Linjerne</li>
					<li>ISBN: 987-6-987654-32-1-</li>
					<li>Pris: 399,-</li>
				</ul>
			</article>
</section>

<!-- fotos af bogen section  -->
<section class="" >
	<img src="" alt="">
	<img src="" alt="">
	<img src="" alt="">
</section>

<!-- text section -->

<section class="" >
	<h2>Uddrag fra bogen</h2>
	<div>
		<h3>Kapitel 1 - Intro til street foto</h3>
		<p>Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p>
	</div>
	<div>
		<h3>Kapitel 2 - Om at skyde street</h3>
		<p>Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p>
	</div>
	<div>
		<h3>Kapitel 3 - Om at finde det rette motiv</h3>
		<p>Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
	</div>
	<div>
		<h3>Kapitel 4 - Digital street foto</h3>
		<p>De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p>
	</div>
	<div>
		<h3>Kapitel 5 - Analog street foto</h3>
		<p>Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto. </p>
	</div>
	<div>
		<h3>Kapitel 6 - Om at skyde sort/hvid</h3>
		<p>Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering. </p>
	</div>
	<div>
		<h3>Kapitel 7 - Kreative teknikker </h3>
		<p>Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
	</div>
	<div>
		<h3>Kapitel 8 - Kom helt tæt på!</h3>
		<p>Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
	</div>
</section>

<!-- anmeldelser section -->

<section class="" >
	<h2>Anmeldelser</h2>
<div>
	<!-- stjerne -->
	<p>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen. <br>
		Hanne Hovgaard, Berlingeren 
	</p>
</div>
<div>
	<!-- stjerne -->
	<p>Teksten er underholdende, og billederne er sku flotte. Hvad mere skal man sige om en fotobog? <br>
		Kim Kloggaard, Fotojournalen.dk </p>
</div>
<div>
	<!-- stjerne -->
	<p>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde. <br>
	Volmer Hansen, Lukkertiden.dk </p>
</div>
</section>

<!-- galleri secion -->
<!-- <section class="" >
	<h2></h2>
	<section id="inspiration" class="my-32">
			<h2 class="text-4xl font-bold">Inspiration fra tidligere kurser</h2>
			<div class="columns-2 lg:columns-4">
			{
				images.map(({ src }) => (
				<div class="galleri">
					<img
						src={src}
						class="mb-4"
						alt=""
						loading="lazy"
					/>
				</div>
				))
			}
			</div>
		</section>
</section> -->

<!-- forfatteren section -->

	<section id="forfatter" class="grid lg:grid-cols-2 mt-32 max-w-3xl mx-auto gap-6"> 
			<div>
				<!-- <Image src={} alt="København" class="" /> -->
			</div>
			<article class="prose">
				<h2 class="text-4xl">Forfatteren</h2>
				<p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”
Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
			</article>
		</section>

<!-- formular section -->

<section  id="tilmelding" class="max-w-lg mx-auto mt-32 p-4">
	<h2 class="text-4xl font-bold pb-4">Køb bogen</h2>
	<form class="space-y-4 grid grid-cols-1 gap-6">
	
		<div class="">
			<label for="Antal">Antal:</label>					
			<select name="Antal" id="Antal">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			</select>
		</div>
		<div class="">
			<input type="radio" id="afhentning" name="afhentning" checked="checked">
			<label for="forud">Afhentning</label>
			<input type="radio" id="levering" name="levering">
			<label for="levering">Levering</label>
		</div>
			
		<div class="grid gap-3">
			<label for="navn">Navn:</label>
			<input type="text" id="navn" name="navn" placeholder="Anders And">
		</div>
	
		<div class="grid gap-3">
			<label for="adresse">Adresse:</label>
			<input type="text" id="adresse" name="adresse" placeholder="Paradisæblevej 8">
		</div>
		<div class="grid gap-3 grid-cols-6">
			<label for="postnummer" class="col-span-6">Postnummer & by:</label>
			<input type="text" id="postnummer" name="postnummer" class="col-span-2" placeholder="0900">
			<input type="text" id="bynavn" name="bynavn" disabled class="col-span-4" placeholder="Andeby C">
		</div>
		<div class="grid gap-3">
			<label for="email">E-mail:</label>
			<input type="text" id="email" name="email" placeholder="Lars@Larsen.dk">
		</div>
		<div class="grid gap-3">
			<label for="telefon">Telefon:</label>
			<input type="tel" id="telefon" name="telefon" placeholder="555-555">
		</div>
		<div class="">
			<input type="checkbox" id="nyhedsbrev" name="nyhedsbrev">
			<label for="nyhedsbrev">Ja tak til nyhedsbreve og tilbud</label>
		</div>
		<div class="flex justify-end">
					<Button variant="primary" size="medium">Til betaling</Button>
				</div>
			</form>
		</section>

</MainLayout>